<!DOCTYPE html>
<html lang="en" ng-app="videoSistemApp" ng-controller="VideoController">
<head>
    <meta charset="UTF-8">
    <title>Video system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <style>
        body { padding-top: 70px; }
    </style>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <nav id="navbar" class="navbar navbar-fixed-top text-center">
            <ul class="nav nav-justified">
                <li><a href="#/Home" class="bg-primary" ng-click="showHome = !showHome"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#/AllVideos" class="bg-primary" ng-click="showDetails = !showDetails"><i class="fa fa-video-camera"></i> All Videos</a></li>
                <li><a href="#/AddVideo" class="bg-primary" ng-click="showAdd = !showAdd"><i class="fa fa-cog fa-spin"></i> Add Video</a></li>
            </ul>
        </nav>

        <!-- Home page -->
        <div id="welcomeHome" class="col-md-12 row well text-center" ng-hide="showHome" ng-show="!showDetails">
            <h1>Video system</h1>
            <p>Welcome to our website! You can see all videos in the collection or add new video.</p>
        </div>

        <!-- Add video form -->
        <blockquote id="addVideoForm" class="col-md-10" ng-show="showAdd">
            <p>Add new video and see result in All Videos page</p>
            <form name="inputVideoForm" class="form-group has-success">
                <div class="form-group col-md-3">
                    <label for="newVideoTitle" class="control-label">Title*</label>
                    <input type="text" required class="form-control"
                           ng-model="newTitle"
                           id="newVideoTitle"
                           name="videoTitle"
                           placeholder="New Video Title">
                    <p class="error" ng-show="inputVideoForm.videoTitle.$error.required">
                        <small><i class="fa fa-exclamation-triangle"></i> Required</small>
                    </p>
                </div>
                <div class="form-group col-md-3 ">
                    <label for="pictureUrl" class="control-label">Picture-url*</label>
                    <input type="url" required class="form-control"
                           ng-model="newPictureUrl"
                           ng-pattern="/(https?:\/\/.*\.(?:png|gif|jpg|jpeg))/i"
                           id="pictureUrl"
                           name="pictureUrl"
                           placeholder="http(s)://...(png|gif|jpg|jpeg)">
                    <p class="error" ng-show="inputVideoForm.pictureUrl.$error.required">
                        <small><i class="fa fa-exclamation-triangle"></i> Required</small>
                    </p>
                    <p class="error" ng-show="inputVideoForm.pictureUrl.$invalid && inputVideoForm.pictureUrl.$dirty">
                        <small><i class="fa fa-exclamation-triangle"></i> Invalid URL. Pattern: http(s)://.some text.(png | gif| jpg | jpeg).</small>
                    </p>
                </div>
                <div class="form-group col-md-3">
                    <label for="category" class="control-label">Category*</label>
                    <input type="text" required class="form-control"
                           ng-model="newCategory"
                           id="category"
                           name="category"
                           placeholder="Category">
                    <p class="error" ng-show="inputVideoForm.category.$error.required">
                        <small><i class="fa fa-exclamation-triangle"></i> Required</small>
                    </p>
                </div>
                <div class="form-group col-md-3">
                    <label for="length" class="control-label">Length</label>
                    <input type="text" class="form-control"
                           ng-model="newLength"
                           id="length"
                           name="length"
                           placeholder="0:00">
                </div>
                <div class="checkbox col-md-12">
                    <label for="haveSubtitles" class="control-label">
                        <input type="checkbox" id="haveSubtitles"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-model="haveSubtitles">
                        HaveSubtitles
                    </label>
                </div>
                <button type="submit" ng-disabled="inputVideoForm.$invalid"
                        ng-click="addVideo()"
                        class="btn btn-default col-md-2">
                    <i class="fa fa-cog fa-spin"></i> Add video
                </button>
            </form>
        </blockquote>

        <!-- All videos -->
        <!-- All videos filters -->
        <div id="allVideosFilters" class="col-md-12" ng-show="showDetails">
            <h2 class="col-md-12">There are {{counterVideos}} videos:</h2>
            <div class="row well">
                <div class="col-md-3">
                    <span>Order video by: </span>
                    <select ng-model="sortVideoOrder" class="form-control">
                        <option selected value="category">Category</option>
                        <option value="-date">Date</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <span>Have Subtitles:</span>
                    <select ng-model="filterVideoBy.haveSubtitles" class="form-control">
                        <option selected value="">All</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <span> Show: </span>
                    <select ng-model="filterVideoBy.category" class="form-control">
                        <option selected value="">All</option>
                        <option ng-repeat="video in videos" value="{{video.category}}">{{video.category}}</option>
                    </select>
                </div>    
            </div>

            <!-- All videos view -->
            <ul id="allVideosView" class="list-unstyled">
                <li ng-repeat="video in videos | orderBy:sortVideoOrder | filter:filterVideoBy">
                    <div id="video">

                        <blockquote class="col-md-12 text-success">
                            <hr />
                            <h2 class="col-md-offset-1">{{video.title}}</h2>
                            <span class="pull-right"><img ng-src="{{video.pictureUrl}}" width="180" height="180" class="img-thumbnail" /></span>
                            <div><strong>Date: </strong>{{video.date | date:'dd.MMM.yyyy'}}</div>
                            <span><strong>Category: </strong>{{video.category}}</span><br />
                            <span><strong>Video length: </strong>{{video.length}}</span><br />
                            <span><strong>Subtitles: </strong>{{video.haveSubtitles ? 'yes':'no'}}</span>

                            <!-- Add subscribers -->
                            <div id="addSubscribers" class="col-md-12 col well">
                                <div ng-click="upSubscribers(video)">
                                    <span><i class="fa fa-thumbs-o-up"></i></span>
                                </div>
                                <div>
                                    <span>Subscribers: {{video.subscribers | number}}</span>
                                </div>
                                <div ng-click="downSubscribers(video)">
                                    <span><i class="fa fa-thumbs-o-down col-md-offset-1"></i></span>
                                </div>
                            </div>
                        </blockquote>

                        <!-- Add Comment -->
                        <form id="addComment" name="inputCommentForm" class="form-inline">
                            <div class="form-group">
                                <label for="newUsername" class="control-label">Username*</label>
                                <input type="text" required class="form-control"
                                       ng-model="video.newUsername"
                                       id="newUsername"
                                       name="newUsername"
                                       placeholder="Username">
                                <p class="error" ng-show="inputCommentForm.newUsername.$error.required">
                                    <small><i class="fa fa-exclamation-triangle"></i> Required</small>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="newContent" class="control-label">Content*</label>
                                <input type="text" required class="form-control"
                                       ng-model="video.newContent"
                                       id="newContent"
                                       name="newContent"
                                       placeholder="Content">
                                <p class="error" ng-show="inputCommentForm.newContent.$error.required">
                                    <small><i class="fa fa-exclamation-triangle"></i> Required</small>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="newWebsiteUrl" class="control-label">Website-url</label>
                                <input type="url" class="form-control"
                                       ng-model="video.newWebsiteUrl"
                                       id="newWebsiteUrl"
                                       ng-pattern="/(https?:\/\/.*\..)/i"
                                       name="newWebsiteUrl"
                                       placeholder="http(s)://...">
                                <p class="error" ng-show="inputCommentForm.newWebsiteUrl.$invalid && inputCommentForm.newWebsiteUrl.$dirty">
                                    URL not found.
                                </p>
                                <p ng-show="inputCommentForm.newWebsiteUrl">
                                    <small><i class="fa fa-smile-o"></i> Recommended</small>
                                </p>
                            </div>
                            <button type="submit" class="btn btn-default"
                                    ng-disabled="inputCommentForm.$invalid"
                                    ng-click="addComment(video)">
                                Add Comment
                            </button>
                        </form>

                        <!-- Comments filters-->
                        <div id="commentsFilters" class="col-md-12 pull right">
                            <h4 class="col-md-12"><i class="fa fa-comment"></i>Comments:</h4>
                            <div class="row well">
                                <span>Order comments by: </span>
                                <select ng-model="sortOrder">
                                    <option selected value="-likes">Likes</option>
                                    <option value="username">Username</option>
                                    <option value="-date">Date</option>
                                </select>
                                <span> Show: </span>
                                <select ng-model="filterCommentsBy.username">
                                    <option selected value="">All</option>
                                    <option ng-repeat="comment in video.comments" value="{{comment.username}}">{{comment.username}}</option>
                                </select>
                            </div>

                            <!-- Comments view -->
                            <ul id="commentsView" class="pre-scrollable" style=" max-height:120px">
                                <li ng-repeat="comment in video.comments | orderBy:sortOrder | filter:filterCommentsBy">
                                    <div class="col-md-9">
                                        <p><em>posted on <mark>{{comment.date | date:'dd-MMM-yyyy'}}</mark></em></p>
                                        <p><i class="fa fa-pencil fa-fw"></i><strong>{{comment.content}}</strong></p>
                                        <span><em>from <mark>{{comment.username}}</mark>-</em></span>
                                        <a href="mailto:#">{{comment.websiteUrl}}</a>
                                    </div>
                                    <div class="col-md-2 col well">
                                        <div ng-click="upLikes(comment)">
                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                        </div>
                                        <div>
                                            <span>likes: {{comment.likes}}</span>
                                        </div>
                                        <div ng-click="downLikes(comment)">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul><!--end commets view-->
                        </div>
                    </div>

                    <!-- back to top button -->
                    <ul id="back" class="pager">
                        <li><a href="#"><strong><span class="glyphicon glyphicon-arrow-up"></span> Back to top</strong></a></li>
                    </ul>
                </li>
            </ul>
            <!-- to do pagination -->
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/video-controller.js"></script>
</body>
</html>