<div ng-include="'templates/homeNavbarIncluded.html'"></div>
<div id="changePasswordPage" class="row well">
	<hr />
	<div class="input-group pull-right col-md-3">
		<input type="search" placeholder="Search" class="form-control">
			<span class="input-group-addon">
				<i class="fa fa-search"></i>
			</span>
	</div>
	<h1>Change Password <i class="fa fa-key"></i></h1>
	<hr />

	<div id="changePasswordContainer" class="col-md-offset-1 col-md-8 row well">
		<form id="changePasswordForm" class="form-horizontal" name="changePasswordForm">
			<div class="form-group">
				<label for="oldPassword" class="col-md-4 control-label">Old Password*</label>
				<div class="col-md-8">
					<input type="password" class="form-control" 
						id="oldPassword" 
						name="oldPassword"
						ng-model="changePasswordData.oldPassword"
						placeholder="Old Password" required>
					<p class="error" ng-show="changePasswordForm.oldPassword.$error.required">
						<small><i class="fa fa-exclamation-triangle"></i> Required</small>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="newPassword" class="col-md-4 control-label">New Password*</label>
				<div class="col-md-8">
					<input type="password" class="form-control" 
						id="newPassword" 
						name="newPassword"
						ng-model="changePasswordData.newPassword"
						placeholder="New Password" required>
					<p class="error" ng-show="changePasswordForm.newPassword.$error.required">
						<small><i class="fa fa-exclamation-triangle"></i> Required</small>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="confirmNewPassword" class="col-md-4 control-label">Confirm New Password*</label>
				<div class="col-md-8">
					<input type="password" class="form-control" 
						id="confirmNewPassword" 
						name="confirmNewPassword"
						ng-model="changePasswordData.confirmNewPassword"
						placeholder="Confirm New Password" required>
					<p class="error" ng-show="changePasswordForm.confirmNewPassword.$error.required">
						<small><i class="fa fa-exclamation-triangle"></i> Required</small>
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-4 col-md-10">
					<button type="submit" class="btn btn-default col-md-4" 
						ng-disabled="changePasswordForm.$invalid"
						ng-click="changePassword()">
							<i class="fa fa-key"></i> Save Changes
					</button>
				</div>
			</div>
		</form>
	</div>
</div>