<nav id="navbar" class="navbar navbar-fixed-top text-center">
    <ul class="nav nav-justified">
        <li><a href="#/user/profile" class="bg-primary"> {{data.userName}}'s profile</a></li>
        <li><a href="#/user/comments" class="bg-primary"><i class="fa fa-comments"></i> Comments</a></li>
        <li><a href="#/user/friendsRequests" class="bg-primary"><i class="fa fa-users"></i> Friends Requests</a></li>
		<li><a href="#/user/editProfile" class="bg-primary"><i class="fa fa-cogs"></i> Edit Profile</a></li>
		<li><a href="#/user/editPassword" class="bg-primary"><i class="fa fa-key"></i> Change Password</a></li>
		<li><a href="#/user/signIn" class="bg-primary"><i class="fa fa-sign-in"></i> Sign In</a></li>
		<li><button type="submit" class="btn btn-default" ng-click="logout()"><i class="fa fa-lock"></i> Logout</button></li>
    </ul>
</nav>
<div id="userHomePage" class="row well">
	<hr />
	<div class="input-group pull-right col-md-3">
		<input type="search" placeholder="Search" class="form-control">
			<span class="input-group-addon">
				<i class="fa fa-search"></i>
			</span>
	</div>
	<h1>Edit Profile <i class="fa fa-cogs"></i></h1>
	<hr />
	
	<div id="editProfileContainer">
		<div id="editFormContainer" class="col-md-offset-2 col-md-7 row well">
			<form id="editProfileForm" class="form-horizontal" name="editProfileForm">		
				<div class="form-group">
					<label for="editName" class="col-md-2 control-label">Name*</label>
					<div class="col-md-8">
						<input type="text" class="form-control" 
							id="editName" 
							name="editName"
							ng-model="editProfileData.editName"
							placeholder="New Name" required>
						<p class="error" ng-show="editProfileForm.editName.$error.required">
							<small><i class="fa fa-exclamation-triangle"></i> Required</small>
						</p>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="editEmail" class="col-md-2 control-label">Email*</label>
					<div class=" input-group col-md-8">
						<span class="input-group-addon">@</span>
						<input type="email" class="form-control" 
							id="editEmail"
							name="editEmail"
							ng-model="editProfileData.editEmail"
							ng-pattern="/\S+@\S+\.\S+/i"
							placeholder="New Email address" required>
					</div>
					<span class="error col-md-offset-2" ng-show="editProfileForm.editEmail.$error.required">
						<small><i class="fa fa-exclamation-triangle"></i> Required</small>
					</span>
					<span class="error col-md-offset-3" ng-show="editProfileForm.editEmail.$invalid && editProfileForm.editEmail.$dirty">
						<small><i class="fa fa-info-circle"></i> Invalid Email address.</small>
					</span>
				</div>
				<div class="form-group">
					<div class="radio col-md-10" id="editGenderForm">
						<span class="col-md-2"><strong>Gender:</strong></span>
						<label class="radio-inline col-sm-offset-1">
							<input type="radio"
								name="editGender" 
								id="editMale" 
								value="male"
								ng-model="editProfileData.editGender"> Male
						</label>
						<label class="radio-inline">
							<input type="radio"
								name="editGender" 
								id="editFemale" 
								value="female"
								ng-model="editProfileData.editGender"> Female
						</label>
						<label class="radio-inline">
							<input type="radio"
								name="editGender" 
								id="editOther" 
								value="other"
								ng-model="editProfileData.editGender"> Other
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default col-md-4" 
							ng-disabled="editProfileForm.$invalid"
							ng-click="editProfile()">
								<i class="fa fa-unlock"></i> Save Changes
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>