<div  id="danger" ng-show="!isLoggedIn">
	<h1>Users only!</h1>
	<h2>Make registration to view the content!</h2>
</div>
<div ng-if="isLoggedIn">
<div id="friendsRequestsPage" ng-include="'templates/userNavbar.html'"></div>
<div class="row well">
    <h1>Friend Request <i class="fa fa-user"></i><i class="fa fa-user"></i></h1>
	<div id="requestFromImage" class="col-md-2 pull-left img-responsive">
		<img src="{{requestData.requestFromImage}}" alt="requestFromImage" width="100" height="100">
	</div>
    <div class="col-md-9 row well">
        <ul>
            <li>Name:
                <strong><a tooltip-placement="top" tooltip="See more about this person."> {{requestData.requestFromName}}</a></strong>
            </li>
			<li>Gender: <strong>{{requestData.requestFromGender}}</strong></li>
			<li>Username: ( <strong>{{requestData.requestFromUsername}}</strong> )</li>
			<li><em>status: {{requestData.requestStatus}}</em></li>
        </ul>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-click="approveFriendRequest()">Accept</button>
			<button type="submit" class="btn btn-warning" ng-click="rejectFriendRequest()">Reject</button>
		</div>
	</div>
</div>
<div ng-include="'templates/pagination.html'"></div>
</div>