<nav id="navbar" class="navbar navbar-fixed-top text-center">
    <ul class="nav nav-justified">
        <li><a href="#/" class="bg-primary"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#/login" class="bg-primary"><i class="fa fa-user"></i> Login</a></li>
        <li><a href="#/register" class="bg-primary"><i class="fa fa-user"></i><i class="fa fa-plus"></i> Register</a></li>
    </ul>
</nav>
<div id="startPage">
    <div class="col-md-12 row well text-center" >
        <h1>Social Network</h1>
        <p>Welcome to our Social Network! Go to Login or Register page.</p>
    </div>       
</div>