<div ng-include="'templates/homeNavbarIncluded.html'"></div>
<div id="userHomePage" class="row well" >
	<hr />
	<div class="input-group pull-right col-md-3">
		<input type="search" placeholder="Search" class="form-control">
			<span class="input-group-addon">
				<i class="fa fa-search"></i>
			</span>
	</div>
	<em>page: {{currentPage}}</em>
	<h1 class="row well">News Feed <i class="fa fa-comments-o"></i></h1>
	<hr />
	<div>
		<p>All Posts</p>
	</div>	
</div>
<div id="pagination">
    <pagination boundary-links="true" total-items="totalItems"
		ng-change="pageChanged()"
		ng-model="currentPage" 
		class="pagination-md" 
		previous-text="&lsaquo;" 
		next-text="&rsaquo;" 
		first-text="&laquo;" 
		last-text="&raquo;">
	</pagination>
</div>