#wrapper{
	width: 90%;
	margin: auto;
	color: gray;
}

#wrapper .orderedStudents{
	width: 45%;
	float: left;
	margin: 10px;
	padding: 10px;
	border: dashed 2px gray;
	border-radius: 10px;
}

#allStudents{
	width: 50%;
	margin: auto;
	padding: 10px;
	border: dashed 2px gray;
	border-radius: 10px;
}