body {
	padding-top: 70px; 
}

.error{
	color: red;
}

#startPage #footer address{
	margin: 10px;
}

#profileImage{
	position: absolute;
	top: 120px;
	left: 10px;
}

#userPosts{
	padding-top: 50px;
}

#coverImage{
    margin-top: -40px;
}

#coverImage img{
  width:100%;
}