body {
	padding-top: 140px; 
}

.error{
	color: red;
}

#startPage #footer address{
	margin: 10px;
}

#userProfilePage #profileImage{
	margin-top: -40px;
	margin-left: -40px;
}

#userPosts{
	padding-top: 50px;
}