#wrapper{
	width: 60%;
	margin: auto;
	border: solid 1px gray;
	padding: 30px;
	color: gray;
	box-shadow: 0 10px 20px gray;
}

#wrapper > *{
	margin: 10px;
}

#wrapper #country, #wrapper #town{
	border: dashed 3px gray;
	padding: 20px;
	box-shadow: 0 10px 10px gray;
}

#wrapper h1{
	text-align: center;
}

button{
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	
	background: -webkit-linear-gradient(white, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, black); /* Standard syntax */
	
	color: white;
}

button:hover{
	background: -webkit-linear-gradient(black, white); 
	background: -o-linear-gradient(black, white); 
	background: -moz-linear-gradient(black, white); 
	background: linear-gradient(black, white); 
	
	color: red;
}

input{
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 10px 10px gray;
}

a, li{
	color: gray;
	font-weight: bold;
}

a:hover{
	color: black;
}