body, #deleteBtn, #updateBtn, #addBook, #showAllBooks{
	background: rgba(203,96,179,1);
	background: -moz-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(25,21,26,1) 20%, rgba(148,15,110,1) 45%, rgba(189,17,146,1) 50%, rgba(153,22,122,1) 56%, rgba(62,48,66,1) 78%, rgba(189,17,146,1) 99%, rgba(219,54,164,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,96,179,1)), color-stop(20%, rgba(25,21,26,1)), color-stop(45%, rgba(148,15,110,1)), color-stop(50%, rgba(189,17,146,1)), color-stop(56%, rgba(153,22,122,1)), color-stop(78%, rgba(62,48,66,1)), color-stop(99%, rgba(189,17,146,1)), color-stop(100%, rgba(219,54,164,1)));
	background: -webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(25,21,26,1) 20%, rgba(148,15,110,1) 45%, rgba(189,17,146,1) 50%, rgba(153,22,122,1) 56%, rgba(62,48,66,1) 78%, rgba(189,17,146,1) 99%, rgba(219,54,164,1) 100%);
	background: -o-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(25,21,26,1) 20%, rgba(148,15,110,1) 45%, rgba(189,17,146,1) 50%, rgba(153,22,122,1) 56%, rgba(62,48,66,1) 78%, rgba(189,17,146,1) 99%, rgba(219,54,164,1) 100%);
	background: -ms-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(25,21,26,1) 20%, rgba(148,15,110,1) 45%, rgba(189,17,146,1) 50%, rgba(153,22,122,1) 56%, rgba(62,48,66,1) 78%, rgba(189,17,146,1) 99%, rgba(219,54,164,1) 100%);
	background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(25,21,26,1) 20%, rgba(148,15,110,1) 45%, rgba(189,17,146,1) 50%, rgba(153,22,122,1) 56%, rgba(62,48,66,1) 78%, rgba(189,17,146,1) 99%, rgba(219,54,164,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 )
}

#wrapper{
	width: 80%;
	background: rgba(255, 255, 255, 0.1);
	margin: auto;
	margin-top: 80px;
	border-radius: 10px;
	text-align: center;
}

#wrapper h1{
	width: 80%;
	margin: auto;
	border-radius: 5px;
	color: white;
}

#books .info{
	width: 20%;
	margin: 5px;
	padding: 10px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	border: solid 1px white;
	color: white;
}

#addBook, #showAllBooks{
	width: 16%;
	padding: 10px;
	border: solid 1px white;
	border-radius: 5px;
	color: white;
}

#deleteBtn, #updateBtn{
	width: 10%;
	margin: 5px;
	padding: 10px;
	display: inline-block;
	text-align: center;
	border: solid 1px white;
	border-radius: 5px;
	color: white;
}

#deleteBtn:hover, #updateBtn:hover, #addBook:hover, #showAllBooks:hover, #wrapper h1:hover{
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(243,237,245,1) 25%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(243,235,245,1) 77%, rgba(236,226,240,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(25%, rgba(243,237,245,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(51%, rgba(219,219,219,1)), color-stop(77%, rgba(243,235,245,1)), color-stop(100%, rgba(236,226,240,1)));
	background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(243,237,245,1) 25%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(243,235,245,1) 77%, rgba(236,226,240,1) 100%);
	background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(243,237,245,1) 25%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(243,235,245,1) 77%, rgba(236,226,240,1) 100%);
	background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(243,237,245,1) 25%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(243,235,245,1) 77%, rgba(236,226,240,1) 100%);
	background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(243,237,245,1) 25%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(243,235,245,1) 77%, rgba(236,226,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ece2f0', GradientType=1 );
	color: purple;
	cursor: pointer;
}

#addBookDiv>*{
	margin: 7px;
	padding: 5px;
}

input{
	border-radius: 5px;
}