<div id="allBookmarks">
<button id="logout">Logout</button>
<h2>Bookmarks collection:</h2>
{{#results}}
<div class="bookmarks" data-id="{{objectId}}">
	<p>Title: <span>{{title}}</span></p>
	<p> url: <span>{{url}}</span></p>
	<button class="delete">Delete</button>
</div>
{{/results}}
</div>
<div id="add-form">
	<label for="newTitle">New Title: </label>
	<input type="text" id="newTitle" placeholder="add new title">
	<label for="newUrl">New url: </label>
	<input type="text" id="newUrl" placeholder="add new url">
	<button id="addNew">Add New Bookmark</button>
</div>