@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic,latin-ext);

*{
margin: 0;
padding: 0;
}

body{
	background-image: url(Education_icons.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	font-weight: bold;
}

div#div1, div#div2, div#div3{
	background: white;
	text-align: center;
	width: 35%;
	margin: 5px auto;
	padding: 20px;
}

p{
	margin-top: 15px;
}

button#btn1, button#btn2, button#replaceBtn, button#removeBtn{
	width: 200px;
	height: 40px;
	box-shadow: 0 0 6px black;
	background: white;
	border-width: 3px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}