<h2>Register</h2>

<form method="POST">
    <label for="username">Username<span class="required">*</span></label>
    <input type="text" name="username" id="username" required="required"/>
    <label for="password">Password<span class="required">*</span>:</label>    
    <input type="password" name="password" id="password" required="required"/>
    <label for="confirmPassword">Confirm Password<span class="required">*</span>:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required="required"/>
    <label for="firstName">First Name:</label>        
    <input type="text" name="firstName" id="firstName"/>
    <label for="lastName">Last Name:</label>    
    <input type="text" name="lastName" id="lastName"/>
    <input type="submit" value="Register"/>
</form>