<div>
    <h2>Owners</h2>
    <div>
        <button (click)="sortByName('asc')">Sort owners by name ascending</button>
        <button (click)="sortByName('desc')">Sort owners by name descending</button>        
    </div>
    <ul>
        <li *ngFor="let owner of owners">
            <h3>{{owner.name}}</h3>
            <div>
                <img src="{{owner?.imageUrl || ownerDefaultImageUrl}}" alt="owner-img" />
            </div>
            <p>
                <a routerLink="/owners/details/{{owner.id}}">Details</a>
            </p>
        </li>
    </ul>
</div>